#foot{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 21%, 0.164);
    width: 100vw;
    height: max-content;
    text-align: center;
    margin: 0;
    font-size: 40px;
}