#form{
    float: right;
    display: felx;
    flex-direction: column;
    margin-right: 20vw;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
    width: 250px;
}

.headings{
    font-size: 30px;
    padding-top: 20px;
}

input{
    height: 30px;
    background-color: rgba(0, 0, 0, 0.548);
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    text-align: center;
}

button{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #747bff;
    margin: 5px;
}

button:hover{
    cursor: pointer;
}