fieldset{
    display: inline-block;
    width: auto;
}
.red{
    color: red;
}

td{
    padding: 5px 1em;
}
table{
    width: 500px;
}
body{
    text-align: center;
}
table{
    margin: 1em calc(50vw - 250px);
}
