#ihead, #isude, #imain{
    margin: 0;
    padding: 0;
}

#list{
    list-style: none;
}

#heading{
    text-align: center;
}

#ihead{
    width: 100%;
    height: 100px;
}

#iside, #side{
    height: calc(100vh - 104px);
    width: 200px;
    float: left;
}

#imain{
    height: calc(100vh - 110px);
    width: calc(100% - 204px);
}

#tcontainer{
    width: 30vw;
    margin-left: 35vw;
    margin-right: 35vw;
}
#details td{
    padding: 10px;
}