p{
    line-height: 5px;
}

#submit{
    float: right;
}

fieldset{
    height: 172px;
}
td{
    padding-right: 50px;
    padding: 10px 10px;
}
#age{
    width: 50px;
}
#zipcode{
    width: 100px;
}

#fname, #lname{
    width: 300px;
}

#page{
    border: 2px solid blue;
    padding: 10px;
    width: fit-content;
}