#container{
    display: flex;
    align-items: center;
}

#p{
    width: 40px;
}
#years, #r{
    width: 30px;
}

#p::placeholder, #r::placeholder, #years::placeholder{
    text-align: center;
}
#r100{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#horizontal-line{
    padding: 10px 1em ;
}
#i100{
    margin: 2px;
}

#years{
    position: relative;
    margin: 0px;
    padding: 0px;
    top:-24px;
    left: -11px;
}

#btn{
    margin-left: 30vw;
}

#ci{
    font-size: 4vw;
    width: min-content;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    appearance: none;
}
