*{
    text-align: center;
}
table{
    border-collapse: collapse;    
}
tr>td:first-child{
    background-color: limegreen;
}
#weekday td{
    background-color: pink;
}

tr>td:last-child{
    background-color: aqua;
}
#white1, #white2{
    background-color: white;
}

.yellow, #month{
    background-color: yellow;
}